<div class="container-fluid">
  <div class="row">
  	<%= devise_error_messages! %>
    <div class="col m8 s12 offset-m2">
      <div class="card">
      	<div class="card-image">
			<img src="/images/card-image.jpg">
      		<span class="card-title white-text">Resend confirmations instructions</span>
		</div>
        <div class="card-content">

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
		  <div class="input-field">
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
		  </div>

		  <div class="input-field">
		    	<%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
		  </div>
		<% end %>

		</div>
		</div>
	</div>
  </div>
</div>
