<div class="container">
	<div class="card">
		<div class="card-image">
			<img src="/images/card-image.jpg">
      		<span class="card-title white-text">Admin Index</span>
		</div>
		<div class="card-content">
			<div class="row">
		      <div class="col l3 m6 s12">
		        <h5 class="black-text">Projects</h5>
		        <ul>
		          <li><a href="/projects">See all projects</a></li>
		          <li><a href="/projects/new">Add a project</a></li>
		        </ul>
		      </div>
		      <div class="col l3 m6 s12">
		        <h5 class="black-text">Attachments</h5>
		        <ul>
		          <li><a href="/attachments">See all attachments</a></li>
		          <li><a href="/attachments/new">Add an attachment</a></li>
		        </ul>
		      </div>
		      <div class="col l3 m6 s12">
		        <h5 class="black-text">Profile</h5>
		        <ul>
		          <li><a href="/users/1">See Profile</a></li>
		          <li><a href="/users/1/edit">Edit Profile</a></li>
		        </ul>
		      </div>
		      <div class="col l3 m6 s12">
		        <h5 class="black-text">Other links</h5>
		        <ul>
		          <li><a href="/">Home page</a></li>
		          <li><a href="/contact">Contact</a></li>
		          <li><a href="/about-me">About me</a></li>
		        </ul>
		      </div>
		    </div>
		</div>
	</div>
</div>